*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
  
    /* font-family: "Courgette", cursive; */
    /* height: 100vh; */
   
    background-color:rgba(35, 35, 197, 0.87);
}

.container{
    width: 100%;
    margin-inline: auto;
    padding-inline: 0.5rem;
    justify-content: space-between;

}


.footer {
   
    display: flex;
    flex-direction: row;
    height: 300px;
  
}

.footer__1{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
width: 100%;
    
    gap: 4rem;
    background-color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer__img{
   border-radius: 50%;
  margin: 1rem;
  
}

.footer__title{
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    background-color: #000;
    color: whitesmoke;
}



.footer__img_2{
    display: flex;
    justify-content: start;
   gap: 1rem;
   background-color: #000;
 
   margin-right: 5rem;
   padding: 0;
   margin-bottom: 0;
  
   
}

.footer__p{
    margin-top: 1rem;
    color: whitesmoke;
   
    margin-left: 0;
}

.footer__img_1{
    border-radius: 50%;
    border: 2px solid red;
    margin-bottom: 0;
}

.footer_p{
    color: whitesmoke;
    
    margin-left: 3rem;
    position: relative;
    right: 1rem;
    font-size: 1rem;
    font-weight: 100;
}


.footer_p2{
    position: relative;
    color: whitesmoke;
   
    margin-left: 6rem;
    right: 2.5rem;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0;
    
}

.f__p {
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 3rem ;
    background-color: black;
    margin-top: 0;
    
}

.footer__title{
    margin-bottom: 0;
}




/* 2xl */
@media (max-width: 1536px) {
    .container{
        max-width: 1280px;
    }


    .footer__gone{
        overflow: hidden;
    }  
}

/* xl */
@media (max-width :1280px) {
    .container{
        max-width: 1024px;
    }

   
}

/* lg */
@media (max-width: 1024px) {
    .container{
        max-width: 768px;
    }
    
     
}

/* md */
@media (max-width: 768px) {
    .container{
        max-width: 640px;
    }

    
}

/* sm */
@media (max-width: 640px) {
    .container{
        max-width: 100%;
    }
}

/* xs */
@media (max-width: 475px) {
    .container{
        max-width: 100%;
    }

    .footer__title{
        font-size:1.5rem ;
    }

    .footer__p{
        font-size: 0.7rem;
    }

    .footer__img_1{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0
        ;

        
    }

    .footer_p2{
        font-size: 0.6rem;
    }

    .footer_p{
        font-size: 0.5rem;
        margin: 0;
    }

    .footer__1{
        display: flex;
        gap: 0rem;
        overflow: hidden;
        
    }

    .footer__img_2{
        display: flex;
        overflow: hidden;
    }

   
}


